*,*::after,*::before{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.todo-container{
  background-color: lightblue;
  width: 100vw;
  padding: 1rem;
}

.form-container{
  width: 100%;
  min-height: 15vh;
  background-color: lightgreen;
  border-radius: 1rem;
  margin-bottom: 1.5rem;
}

.form-container form input{
  width: 12rem;
  min-height: 2rem;
  border-radius: 0.5rem 0 0  0.5rem;
  padding-left: 1rem;
  margin-top: 0.5rem;
}

.form-container form button{
  width: 5rem;
  min-height: 2rem;
  border-radius: 0 0.5rem 0.5rem 0;
}

.flex{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-todo{
  background-color: rgb(31, 93, 95);
  width: 100%;
  min-height:76.1vh;
  border-radius: 0.5rem;
  padding: 1rem;
}


.list-todo ul li{
  background-color: antiquewhite;
  border-radius: 0.5rem;
  width: 18.5rem;
  height: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  margin-bottom: 1rem;
}

@media (min-width: 576px) {
  .todo-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form-container{
    width: 80%;
  }

  .form-container form input{
    width: 50rem;
  }

  .list-todo{
    width: 80%;
  }

  .list-todo ul li{
    width: 90rem;
  }
}