*,*::after,*::before{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.flex-column-center{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-container{
  background-color: rgb(205, 241, 253);
  width: 100vw;
  height: 100vh;
}

.form-container{
  background-color: aquamarine;
  width: 100%;
  height: 10%;
}

.form-container form{
  width: 90%;
}

.form-container form input{
  display: block;
  width: 100%;
  height: 2em;
  padding-left: 1em;
  border-radius: 0.5em 0.5em 0 0;
}

.form-container form button{
  display: block;
  width: 100%;
  border-radius: 0 0 0.5em 0.5em;
}

.list-todo ul li{
  background-color: aliceblue;
  width: 90vw;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.5em 0;
  border-radius: 1em;
  padding: 0 0.75em;
}

@media screen and (min-width: 576px ) {

  .form-container{
    width: 80%;
    margin: 0 auto;
    border-radius: 0 0 0.5em 0.5em;
  }

  .list-todo{
    width: 80%;
    margin: 0.5em auto 0  auto;
    background-color: aquamarine;
    min-height: 88vh;
    border-radius: 0.5em;
    padding-top: 0.5em;
  }

  .list-todo ul li{
    width: 72vw;
  }
}

@media screen and (min-width: 768px) {
  .form-container{
    width: 60%;
  }

  .list-todo{
    width: 60%;
  }

  .list-todo ul li{
    width: 55vw;
  }
}